<!-- Modal -->
<div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div id="errors_div"></div>
        <%= form_for(@user, remote: true) do |f| %>
          <strong><%= f.label "First Name" %></strong>
          <br>
          <%= f.text_field :f_name, class: "text-input" %>
          <br>
          <div class="spacer-small"></div>
          <strong><%= f.label "Last Name" %></strong>
          <br>
          <%= f.text_field :l_name, class: "text-input" %>
          <br>
          <div class="spacer-small"></div>
          <strong><%= f.label "Email" %></strong>
          <br>
          <%= f.text_field :email, class: "text-input" %>
          <br>
          <div class="spacer-small"></div>
          <strong><%= f.label "Password" %></strong>
          <br>
          <%= f.password_field :password, class: "text-input" %>
          <br>
          <div class="spacer-medium"></div>
          <%= f.submit "Sign Up", class: "cta-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

